.header{
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.search{
    .search-container{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid $camp-green;
            color: $camp-green;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: $camp-green;
                color: #fff;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
            }
        }

        input{
            animation: scrollOut 0.5s backwards;
            display: none;
            padding: 10px 15px;
            border-radius: 40px;
            border: 1px solid $camp-green;
            margin-left: 10px;
            &:focus{
                outline: none;
                
            }
            &::placeholder{
                color: $camp-green;
            }
        }
        input.active{
            animation: scrollIn 0.5s forwards;
            display: inline-block;
        }
        
    }
}

.main{
    .main-container{
        // border: 1px solid #000;
    }
}
