.result{
    background-color: rgba($mine-yellow, .5) ;
    .result-container{
        .result__box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;
            border-bottom: 1px solid #ccc;
            &-img{
                @include respond('mobile') {
                    display: none;
                }
            }
            &-info{
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 60%;
                padding: 25px 0;
                gap: 15px;
                cursor: pointer;
                transition: all .3s ease-out;
                @include respond('mobile') {
                    width: 90%;
                    padding: 30px 0;
                }
                &:hover{
                    background-color: rgba(#fff, 0.5);
                }
            }
            .like-wrapper{
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    i{
                        display: none;
                        font-size: 30px;
                        color: rgb(184, 70, 89);
                        transition: all .3s ease-out;
                    }
                    .active{
                        display: inline-block;
                    }
                }
            }
        }
    }
    .result-loading{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.camp-container{
    display: flex;
    flex-wrap: wrap;
    @include respond('mobile') {
        flex-direction: column;
    }
    background-color: $camp-green;
    border-top: #ccc 5px solid ;
    border-bottom: #ccc 5px solid ;
    .camp__detail{
        width: 40%;
        padding: 15px 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: left;
        align-self: center;
        @include respond('mobile') {
            width: 100%;
        }
        p{
            color: #fff;
            a{
                color: #fffec9;
            }
        }
    }

    .camp__images{
        width: 60%;
        border-top-left-radius: 40px;
        @include respond('mobile') {
            width: 100%;
        }
    }   
}

.weather-container{

        h1{
            font-size: 32px;
            padding: 30px;
            font-weight: 700;
            color: $camp-green;
        }
        .weather{
            width: 100%;
            height: 100%;
            display: flex;
            padding: 50px;
            justify-content: center;
            gap: 20px;
            overflow-x: auto;
            .weather__box{
                background-image: url('../images/weather-bg.png');
                background-size: cover;
                background-position: center; 
                min-width: 169px;
                max-width: 300px;
                min-height: 258px;
                border-radius: 40px;
                box-shadow: 0 10px 50px rgba(#000, 0.25);
                padding: 15px 0;
                position: relative;
                &-date{
                    text-align: center;
                }
                &-info{
                    padding: 25px;
                    p{
                        color: #fff;
                        padding-top: 10px;
                    }
                }
                &-time{
                    position: absolute;
                    bottom: 15px;
                    left: 50%;
                    transform: translateX(-50%);
                    input[type="range"]{
                         -webkit-appearance: none;
                         width: 100%;
                         background: #8ddded;
                         border-radius: 5px;
                         outline: none;
                         cursor: pointer;
                    }
                    input[type="range"]::-webkit-slider-thumb{
                        -webkit-appearance: none;
                         height: 10px;
                         width: 10px;
                         background: #e4a854;
                         border-radius: 50%;
                         margin-top: -2px;
                         box-shadow: 0 0 2px rgba(0,0,0,0.3);
                         &:hover{
                            background: #9d6311;
                         }
                    }
                    input[type="range"]::-webkit-slider-runnable-track {
                        height: 6px;
                        background: linear-gradient(to right, #dbecff, #8ddded);
                        border-radius: 6.5px;
                    }
                    p{
                        text-align: center;
                        color: #fff;
                    }
                }
            }
        }
}

.trail-container{
    width: 100%;
    border-top: #ccc 5px solid ;
    h1{
            font-size: 32px;
            padding: 30px;
            font-weight: 700;
            color: $camp-green;
        }
    .trail-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        .trail-img{
            width: 15%;
            @include respond('mobile') {
            display: none;
            }
        }
        .trail-info{
            border: 1px solid #303030;
            border-radius: 6.5px;
            width: 70%;
            align-self: center;
            padding: 20px;
            background-color: $mine-yellow;
            @include respond('mobile') {
                width: 90%;
            }
            p{
                padding: 5px 0;
                color: #303030;
            }
        }
    }
}