.result{
    background-color: rgba($mine-yellow, .5) ;
    .result-container{
        .result__box{
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            &-info{
                display: flex;
                flex-direction: column;
                align-items: start;
                border: 1px solid #000;
                width: 30%;
                padding: 25px 0;
            }
        }
    }
}