* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@keyframes scrollIn {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scrollOut {
  0% {
    width: 30%;
    transform: translateX(0);
  }
  100% {
    width: 0%;
    transform: translateX(-100%);
  }
}
.fixed-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search .search-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .search-container i {
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #5b8e80;
  color: #5b8e80;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search .search-container i:hover {
  background-color: #5b8e80;
  color: #fff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}
.search .search-container input {
  animation: scrollOut 0.5s backwards;
  display: none;
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid #5b8e80;
  margin-left: 10px;
}
.search .search-container input:focus {
  outline: none;
}
.search .search-container input::-moz-placeholder {
  color: #5b8e80;
}
.search .search-container input::placeholder {
  color: #5b8e80;
}
.search .search-container input.active {
  animation: scrollIn 0.5s forwards;
  display: inline-block;
}

.result {
  background-color: rgba(242, 180, 116, 0.5);
}
.result .result-container .result__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .result .result-container .result__box-img {
    display: none;
  }
}
.result .result-container .result__box-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  padding: 25px 0;
  gap: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
@media (max-width: 767px) {
  .result .result-container .result__box-info {
    width: 90%;
    padding: 30px 0;
  }
}
.result .result-container .result__box-info:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.result .result-container .result__box .like-wrapper button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.result .result-container .result__box .like-wrapper button i {
  display: none;
  font-size: 30px;
  color: rgb(184, 70, 89);
  transition: all 0.3s ease-out;
}
.result .result-container .result__box .like-wrapper button .active {
  display: inline-block;
}
.result .result-loading {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camp-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #5b8e80;
  border-top: #ccc 5px solid;
  border-bottom: #ccc 5px solid;
}
@media (max-width: 767px) {
  .camp-container {
    flex-direction: column;
  }
}
.camp-container .camp__detail {
  width: 40%;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  align-self: center;
}
@media (max-width: 767px) {
  .camp-container .camp__detail {
    width: 100%;
  }
}
.camp-container .camp__detail p {
  color: #fff;
}
.camp-container .camp__detail p a {
  color: #fffec9;
}
.camp-container .camp__images {
  width: 60%;
  border-top-left-radius: 40px;
}
@media (max-width: 767px) {
  .camp-container .camp__images {
    width: 100%;
  }
}

.weather-container h1 {
  font-size: 32px;
  padding: 30px;
  font-weight: 700;
  color: #5b8e80;
}
.weather-container .weather {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
}
.weather-container .weather .weather__box {
  background-image: url("../images/weather-bg.png");
  background-size: cover;
  background-position: center;
  min-width: 169px;
  max-width: 300px;
  min-height: 258px;
  border-radius: 40px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  position: relative;
}
.weather-container .weather .weather__box-date {
  text-align: center;
}
.weather-container .weather .weather__box-info {
  padding: 25px;
}
.weather-container .weather .weather__box-info p {
  color: #fff;
  padding-top: 10px;
}
.weather-container .weather .weather__box-time {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.weather-container .weather .weather__box-time input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #8ddded;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.weather-container .weather .weather__box-time input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #e4a854;
  border-radius: 50%;
  margin-top: -2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.weather-container .weather .weather__box-time input[type=range]::-webkit-slider-thumb:hover {
  background: #9d6311;
}
.weather-container .weather .weather__box-time input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(to right, #dbecff, #8ddded);
  border-radius: 6.5px;
}
.weather-container .weather .weather__box-time p {
  text-align: center;
  color: #fff;
}

.trail-container {
  width: 100%;
  border-top: #ccc 5px solid;
}
.trail-container h1 {
  font-size: 32px;
  padding: 30px;
  font-weight: 700;
  color: #5b8e80;
}
.trail-container .trail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
.trail-container .trail-wrapper .trail-img {
  width: 15%;
}
@media (max-width: 767px) {
  .trail-container .trail-wrapper .trail-img {
    display: none;
  }
}
.trail-container .trail-wrapper .trail-info {
  border: 1px solid #303030;
  border-radius: 6.5px;
  width: 70%;
  align-self: center;
  padding: 20px;
  background-color: #f2b474;
}
@media (max-width: 767px) {
  .trail-container .trail-wrapper .trail-info {
    width: 90%;
  }
}
.trail-container .trail-wrapper .trail-info p {
  padding: 5px 0;
  color: #303030;
}/*# sourceMappingURL=style.css.map */