*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//-----------------------tool----------------------------//
@import '../scss/animate';
@import '../scss/color';


//-----------------------page-style----------------------------//
@import '../scss/index';
@import '../scss/result';